---
// Component imports
import { Layout } from "@globals"

const { searchParams } = Astro.url
let name = searchParams.get("name")
console.log(name)
---

<Layout title="Wedding Invitation">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<!-- Welcome -->
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<!-- <h1 class="text-4xl font-semibold">Добро Пожаловать</h1> -->
				<h2 class="text-4xl font-extrabold dark:text-white">
					Пол пути пройдено!
				</h2>
				<!-- <p class="">Осталось самое интересное 😏</p> -->
				<p class="">
					Вот место, куда ты должен приехать: ул. Пушкина, д. Калатушкина
				</p>
			</div>
			<div class="flex flex-row justify-center">
				<div class="flex flex-row justify-around">
					<a href="dresses-colors">
						<button
							type="button"
							class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-[15px] text-[18px] px-10 py-4 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
							>Узнать в чем приходить</button
						>
					</a>
				</div>
			</div>
		</div>
	</section>
</Layout>
