---
// Component imports
import { Layout } from "@globals"

const { searchParams } = Astro.url
let name = searchParams.get("name")
console.log(name)
---

<Layout title="Wedding Invitation">
	<section class="p-6 flex-1 flex flex-col justify-between">
		<!-- Welcome -->
		<div
			class="max-w-xl mx-auto flex flex-col justify-center flex-1 space-y-10"
		>
			<div class="space-y-2 text-center">
				<!-- <h1 class="text-4xl font-semibold">Добро Пожаловать</h1> -->
				<h2 class="text-4xl font-extrabold dark:text-white">
					Добро Пожаловать!
				</h2>
				<p class="">
					Сейчас тебе нужно пройти небольшой квиз, в конце которого ты получишь
					доступ ко всей необходимой информации для нашей свадьбы
				</p>
			</div>
			<!-- <form>
				<div class="relative z-0 w-full mb-6 group">
					<input
						type="text"
						name="name"
						id="name"
						class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
						placeholder=" "
						required
					/>
					<label
						for="floating_email"
						class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
						>Введи свое имя</label
					>
				</div>
			</form> -->
			<div class="flex flex-row justify-around">
				<div class="flex flex-row justify-around">
					<a href="luckyboy">
						<button
							type="button"
							class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-[15px] text-[18px] px-10 py-4 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
							>Продолжить</button
						>
					</a>
				</div>
			</div>
		</div>
	</section>
</Layout>
